/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
   position: fixed;
   top: 0;
   width: 100%
}
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
   padding-top: 102px;
}

.navbar-brand img {
    width: 30px;
    height: 30px;
    margin-top: -5px;
}

.navbar-brand-name {
    margin: 15px 15px;
    width: 150px;
}

.main-area {
    background-image: url("../assets/img/bg/guitar-main-bg.jpg");
    background-size: cover;
    height: 512px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-label {
    padding-top: 50px;
    color: #CCC;
    background-color: rgba(64, 57, 57, 0.5);
    padding: 30px;
    text-align: center;
}

footer {
    background-color: #000;
    color: #FFF;
    height: fit-content;
    width: 100%;
    text-align: center;
    font-weight: 100;
    padding-top: 20px;
    margin-top: -20px;
    font-family: Helvetica, sans-serif;
}

main {
    margin: 0;
}

.delimiter {
    height: 100px;
}

.row {
    height: fit-content;
    padding-bottom: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    text-align: center;
    margin: 15px 0;
    font-size: 40px;
}

.goods {
    height: fit-content;
}

.goods img {
    height: 100px;
    width: 200px;
}

.goods-label {
    font-weight: 700;
    font-size: 30px;
}

.goods-price {
}

.goods:hover {
    background-color: #bdbdbd;
}
.goods {
    height: fit-content;
    border-radius: 15px;
}

#about {
    background: #ff7878;
    padding-top: 70px;
    padding-bottom: 70px;
}

#about h4 {
    color: white;
    font-size: 45px;
}

#about p {
    color: white;
}

footer {
    color: white;
    text-align: center;
    background: #2d2d2d;
    padding-top: 30px;
    padding-bottom: 20px;
}

footer i {
    font-size: 30px !important;
    color: #bdbdbd;
    padding: 20px;
}

footer i:hover {
    color: #ff7878;
}

header li:hover {
    background-color: #ff7878;
}

#header {
    z-index: 999;
}





