@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500&subset=cyrillic');

* {
    font-family: 'Roboto', sans-serif;
}

.sticky {
   position: fixed;
   top: 0;
   width: 100%
}
  
.sticky + .content {
   padding-top: 102px;
}

.navbar-brand img {
    width: 30px;
    height: 30px;
    margin-top: -5px;
}

.navbar-brand-name {
    margin: 15px 15px;
    width: 150px;
}

.main-area {
    background-image: url("../assets/img/main/guitar-main-bg.jpg");
    background-size: cover;
    height: 512px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-label {
    padding-top: 50px;
    color: #CCC;
    background-color: rgba(64, 57, 57, 0.5);
    padding: 30px;
    text-align: center;
}

footer {
    background-color: #000;
    color: #FFF;
    height: fit-content;
    width: 100%;
    text-align: center;
    font-weight: 100;
    padding-top: 20px;
    margin-top: -20px;
    font-family: Helvetica, sans-serif;
}

main {
    margin: 0;
}

.delimiter {
    height: 100px;
}

.row {
    height: fit-content;
    padding-bottom: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    text-align: center;
    margin: 15px 0;
    font-size: 40px;
}

.goods {
    height: fit-content;
}

.goods img {
    height: 100px;
    width: 200px;
}

.goods-label {
    font-weight: 700;
    font-size: 30px;
}

.goods-price {
}

.goods:hover {
    background-color: #bdbdbd;
}
.goods {
    height: fit-content;
    border-radius: 15px;
}

#about {
    background: #ff7878;
    padding-top: 70px;
    padding-bottom: 70px;
}

#about h4 {
    color: white;
    font-size: 45px;
}

#about p {
    color: white;
}

footer {
    color: white;
    text-align: center;
    background: #2d2d2d;
    padding-top: 30px;
    padding-bottom: 20px;
}

footer i {
    font-size: 30px !important;
    color: #bdbdbd;
    padding: 20px;
}

footer i:hover {
    color: #ff7878;
}

header li:hover {
    background-color: #ff7878;
}

#header {
    z-index: 999;
}

.advantages {
    background: url('../assets/img/advantages/advantages_bg.jpg') no-repeat center center;
    height: 400px;
    filter: grayscale(20%);
}

.advantages__slogan {
    margin-top: 120px;
    background-color: #796c2e75;
    padding: 20px;
    width: fit-content;
    margin-left: -80px;
}

.advantages__slogan_header {
    color: #000;
    font-size: 39px;
}

.advantages__slogan_text {
    font-weight: 600;
    font-size: 20px;
    color: #c7c7c0cf;
}

.advantages__points {
    margin-top: 30px;
    position: relative;
    left: 62px;
    top: 15px;
    padding: 15px;
    background-color: #ffffff4a;
}

.advantages__points_item {
    font-size: 35px;
    color: #555;
    margin-top: 10px;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.video-block {
    height: 350px;
    background-color: #b7b79a40;
}

.video-block__title {
    text-align: left;
}

.video-block__title h1 {
    font-weight: 300;
    font-size: 46px;
    margin-bottom: -10px;
}

.video-block__title p {
    font-weight: 300;
    font-size: 25px;
    display: inline;
}

.play-icon {
    cursor: pointer;
    font-size: 60px;
    position: relative;
    left: 15px;
    top: 10px;
}
